*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(39, 165, 214);
    color: white;
}
header{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h_left{
    margin-left: 50px;
}
.h_right {
    margin-right: 100px;
}
.search{
    padding: 8px;
    border-radius: 10px;
    color: black;
    background-color: white;
    border-color: aqua;
}
.search_button{
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    border-color: aqua;
    color: black;
    background-color: white;
}
.name_of_place{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.weather_info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 100px;
}
.w_img{
    width: 200px;
}
.now_one{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.now_three img{
    width: 50px;
    margin-right: 30px;
}
.humidity{
    margin-bottom: 50px;
    display: flex;
}
.wind_speed{
    display: flex;
}
.n{
    margin-left: 50px;
}
.next_weather_info{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tmrw{
    margin-left: 50px;
    justify-content: center;
}
.t{
    display: flex;
    align-items: center;
     
}
.foot ,.foot h3{
    background-color: purple;
    height: 30px;
     
}
.foot{
    display: flex;
    justify-content: center;
}
.foot a{
    color: rgb(39, 165, 214) ;
    font-weight: bolder;
    font-size: larger;
    background-color: purple;
}